
.header__navbar.show_menu{
    opacity: 1;
    visibility: visible;

}
.header__menu.show_menu{
    span:nth-child(1){
        transform: rotate(45deg);
    }
    span:nth-child(2){
        opacity: 0;
    }
    span:nth-child(3){
        transform: rotate(-45deg);
    }
}
.over_flow_hidden{
    overflow:hidden;
}
